* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(10, 0, 32);
}

.flex {
  display: flex;
}

.max {
  max-width: 60rem;
}

.texto {
  color: white;
  margin-bottom: 1.5rem;
}

.subtitulo {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Inicio */
.titulo {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 4rem;
}

.titulo2 {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 9rem;
  margin-bottom: 2rem;
}

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#fotoPerfil {
  width: 15rem;
  height: auto;
  border-radius: 100%;

}

#descargarCv {
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, blue, 40%, purple);
  border-style: none;
}

/* Sobre mí */
#sobreMi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Titulaciones */
#titulaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.estudios {
  margin: 0 2rem;
}

/* Conocimientos */


/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #191724; /* color del track */
}

::-webkit-scrollbar-thumb {
  background-color: #515268; /* color del thumb */
  border-radius: 20px;
  border: 3px solid #272435; /* crea un padding alrededor del thumb */
}