.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 9rem;
  margin-bottom: 2rem;
}
  
.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 9rem;
  margin-bottom: 2rem;
}

.subtitulo {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.texto {
  color: white;
}

.texto, .textBotton {
  color: white;
  margin-bottom: 1.5rem;
}

.textBotton {
  margin: 0;
}

.stars, .stars2 {
  position: relative;
  top: -0.5rem;
  width: 2.5rem;
  height: auto;
  margin: 0.5rem;
}

.stars2 {
  width: 2rem;
}

.Container, .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  background-color: rgba(175, 175, 255, 0.1);
  margin: 0.5rem;
  text-align: justify;
  min-width: 12rem;
}

.container2 {
  flex-direction: row;
}

.logos {
  width: 4rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.tecnologias {
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}