.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 9rem;
  margin-bottom: 2rem;
}
  
.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  padding-top: 9rem;
  margin-bottom: 2rem;
}

.subtitulo {
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.texto {
  color: white;
}

.texto, .textBotton {
  color: white;
  margin-bottom: 1.5rem;
}

.textBotton {
  margin: 0;
}

.stars, .stars2 {
  position: relative;
  top: -0.5rem;
  width: 2.5rem;
  height: auto;
  margin: 0.5rem;
}

.stars2 {
  width: 2rem;
}

.Container, .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  background-color: rgba(175, 175, 255, 0.1);
  margin: 0.5rem;
  text-align: justify;
  min-width: 12rem;
}

.container2 {
  flex-direction: row;
}

.logos {
  width: 4rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.tecnologias {
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
}

/* A partir de pentesting haciendo bien */


/* Screen */
.all-screen {
  width: 100%;
  height: 100vh;
}

/* Containers */
.bordered-and-grey {
  border-radius: 0.5rem;
  background-color: rgba(175, 175, 255, 0.1);
}

.bordered-and-purple-gradient {
  border-radius: 0.5rem;
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(119, 0, 199));
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-alighned {
  display: flex;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-wrap {
  flex: 1 0 40%;
}

.standard-padding {
  padding: 2rem 3rem;
}

.min-padding {
  padding: 0.3rem 0.5rem;
}

.standard-margin {
  margin: 2rem;
}

.min-column-margin {
  margin: 1rem;
}

.left-right-margin {
  margin: 0 8rem;
}

.left-right-min-margin {
  margin: 0 1rem;
}

/* Text */
.standard-text {
  color: white;
  margin-top: 1rem;
  text-align: justify;
  font-weight: bold;
  line-height: 1.4;
}

.text-without-margin {
  color: white;
  text-align: justify;
  font-weight: bold;
  line-height: 1.4;
}

.big {
  font-size: 3rem;
}

.medium {
  font-size: 2rem;
}

.blue-green-color-text {
  background: linear-gradient(45deg, rgb(0, 92, 230), 60%, rgb(0, 199, 116));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.padding-at-top {
  padding-top: 4rem;
}

.many-padding-at-top {
  padding-top: 9rem;
}


/* Images */
.standard-border {
  border-radius: 0.5rem;
}

.logos {
  width: 4rem;
}

.copy {
  width: 1.5rem;
  margin: 0.5rem;
}

/* Dimensions */
.medium-max {
  max-width: 80rem;
}

.small-max {
  max-width: 20rem;
}

.small-min-width {
  min-width: 18rem;
}